{% extends "templates/layouts/default.html" %}

{% block content %}
	<div class="container front-page">
		<div class="jumbotron">
			<h1>Start building websites by combining patterns</h1>

			<p><a class="btn btn-rounded btn-lg btn-hero" href="/site/" role="button">No account needed. Start building <i class="fa fa-long-arrow-right"></i></a></p>

			<div class="container">
				<div class="row hero-panels">

						<div class="col-md-3">
							<div class="panel-header panel-blue">
								<div class="panel-body">
									1. Select site type
								</div>
							</div>

							
						</div>

						<div class="col-md-3">
							<div class="panel-header panel-light-blue">
								<div class="panel-body">
									2. Select layout
									</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="panel-header panel-teal">
								<div class="panel-body">
									3. Customize with patterns
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="panel-header panel-green">
								<div class="panel-body">
									4. Get the code
								</div>
							</div>
						</div>


				</div>
			</div>
		</div>
	</div>

	<div class="container">
      <!-- row of 3 columns -->

      <!-- <div class="row hero-panels">

        <div class="col-md-4">
					<div class="panel panel-default">
  					<div class="panel-body">
		          <h2>Patterns for every context</h2>
							<ul>
								<li>Designed to provide usability guidelines</li>
								<li>Open source and easy to customize</li>
							</ul>
						</div>
					</div>
        </div>

        <div class="col-md-4">
					<div class="panel panel-default">
  					<div class="panel-body">
		          <h2>More than Framework</h2>
		          <p>Each website site type has unique needs and context of use.</p>
							<p>Start your design based on those needs.</p>
					</div>
				</div>
       </div>

        <div class="col-md-4">
					<div class="panel panel-default">
  					<div class="panel-body">
	          <h2>Cater your Workflow</h2>
	          <p>Each layout is designed to be responsive. </p>
						<p>Select all the page layouts you need, swap patterns and get the code.</p>
          	</div>
				  </div>
				</div>

    </div> -->



{% endblock %}
