{% extends "templates/layouts/default.html" %}

{% block content %}
<div class="bg">
	<div class="container front-page">
		<div class="jumbotron">
			<h1>Start building websites by combining patterns</h1>

			<p><a class="btn btn-rounded btn-lg btn-hero" href="/site/" role="button">No account needed. Start building <i class="fa fa-long-arrow-right"></i></a></p>

			<div class="container">
				<div class="row hero-panels">

						<div class="col-md-3">

							<div class="panel-brand panel-blue">
								<div class="panel-body">
									1. Select site type
								</div>
							</div>

							<div class="panel-brand panel-feature panel-blue panel-site">
								<div class="panel-body">
									<div class="panel-text  panel-site-text">
									Each site type features selection of layouts
									</div>
								</div>
							</div>

						</div>

						<div class="col-md-3">

							<div class="panel-brand panel-light-blue">
								<div class="panel-body">
									2. Select layout
									</div>
							</div>

							<div class="panel-brand panel-feature panel-light-blue panel-layout">
								<div class="panel-body">
									<div class="panel-text  panel-layout-text">
									Each layout features selection of patterns
									</div>
								</div>
							</div>

						</div>

						<div class="col-md-3">
							<div class="panel-brand panel-teal">
								<div class="panel-body">
									3. Customize with patterns
								</div>
							</div>

							<div class="panel-brand panel-feature panel-teal panel-pattern">
								<div class="panel-body">
									<div class="panel-text  panel-pattern-text">
									Drag and drop patterns around for <br> a custom layout
									</div>
								</div>
							</div>

						</div>

						<div class="col-md-3">
							<div class="panel-brand panel-green">
								<div class="panel-body">
									4. Get the code
								</div>
							</div>

							<div class="panel-brand panel-feature panel-green panel-download">
								<div class="panel-body">
									<div class="panel-text  panel-download-text">
									Download layout with Bootstrap styles for further development
									</div>
								</div>
							</div>


						</div>


				</div>
			</div>
		</div>
	</div>

</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<p><a class="btn btn-rounded btn-lg btn-hero" href="/site/" role="button">Start building <i class="fa fa-long-arrow-right"></i></a></p>
		</div>
	</div>
</div>


{% endblock %}
