{% extends "templates/layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<h1>Build websites with reusable patterns</h1>
			<ul>
				<li>1. Select site layout</li>
				<li>2. Customize the layout</li>
				<li>3. Get the code</li>
			</ul>
			<p><a class="btn btn-rounded btn-primary btn-lg" href="#" role="button">Try it now</a></p>
		</div>
	</div>

	<div class="container">
      <!-- row of 3 columns -->
      <div class="row hero-panels">

        <div class="col-md-4">
					<div class="panel panel-default">
  					<div class="panel-body">
		          <h2>Patterns for every context</h2>
							<ul>
								<li>Designed to provide usability guidelines</li>
								<li>Open source and easy to customize</li>
							</ul>
						</div>
					</div>
        </div>

        <div class="col-md-4">
					<div class="panel panel-default">
  					<div class="panel-body">
		          <h2>More than Framework</h2>
		          <p>Each website site type has unique needs and context of use.</p>
							<p>Start your design based on those needs.</p>
					</div>
				</div>
       </div>

        <div class="col-md-4">
					<div class="panel panel-default">
  					<div class="panel-body">
	          <h2>Cater your Workflow</h2>
	          <p>Each layout is designed to be responsive. Select all the page layouts you need, swap patterns and get the code.</p>
          	</div>
				  </div>
				</div>

    </div>



{% endblock %}
