{% extends "layouts/default.html" %}

{% block intro %}
	<div class="container container-top">
		<div class="row">
			<div class="col-sm-12">
				<h1> {{ data.layout.title }} layouts</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
				<a href="/site/">Sites</a>
			</div>
		</div>
	</div>
{% endblock %}


{% block content %}
  <div class="container">
    {% if data.selected.length %}
      <div class="row hero-panels m-b-md">

      {% for layout in data.selected %}

        <div class="col-md-4">

					<a class="card-container-link" href="/site/layout/{{ data.layout.key }}/view/{{ layout.key }}">
	          <div class="card-brand card-brand-white">
	            <div class="card-block">

	              {% if layout.image.exists %}
	            		<img src="{{ layout._.image.thumbnail(326,205) }}" class="img img-responsive">
	            	{% endif %}

								<h4>{{ layout.title }}</h4>

	            </div>
	          </div>
					</a>
        </div>

        {% if loop.index % 3 == 0 %}
          </div><div class="row hero-panels m-b-md">
        {% elif loop.last %}
          </div>
        {% endif %}


      {% endfor %}

    {% else %}
      <h3 class="text-muted">There are no layouts for the site type yet.</h3>
    {% endif %}

  </div>
{% endblock %}
