{% extends "templates/layouts/default.html" %}

{% block intro %}

	 <div class="sidebar-left">
			<div class="col-md-12">

			</div>
	</div>


<div class="main">

	<div class="container">
		<h1> {{ data.views.title }} layout</h1>
	</div>

{% endblock %}


{% block content %}
  <div class="container">
    {% if data.views %}

      <div id="code" class="row hero-panels">

		        <div class="col-md-12">

									{% if data.views.patterns.length %}

										{% for pattern in data.views.patterns %}

										<div class="panel panel-default">
					            <div class="panel-body">

<div class="pattern">
		{{ pattern.code }}
</div>

											<a href="{{ filters.originalUrl }}/pattern/{{ pattern.key }}"><h4>{{ pattern.title }}</h4></a>
											</div>
				          	</div>
										{% endfor %}

									{% else %}
										<h3 class="text-muted">There are no patterns in this layout yet.</h3>
									{% endif %}
		        </div>

    	</div>

    {% else %}
      <h3 class="text-muted">There is no layout available yet.</h3>
    {% endif %}

  </div>

</div>


<div class="sidebar-right">
		<div class="col-md-12">

			<div class="panel panel-default">
				<div class="panel-body text-center">
					<form id="layout-form" action="/download" method="POST">
						<input id="layout-download" class="btn btn-rounded btn-dark btn-md" type="submit" value="Download HTML">
					</form>
				</div>
			</div>


			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

				{% if data.views.description %}

					<div class="panel panel-default">

							<div class="panel-heading" role="tab" id="headingOne">
					      <h4 class="panel-title">
					        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					          Description
					        </a>
					      </h4>
					    </div>

							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					      <div class="panel-body">
									{{ data.views.description }}
								</div>
							</div>

					</div>

					{% endif %}


					{% if data.views.context %}

						<div class="panel panel-default">

								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
											Context of use
										</a>
									</h4>
								</div>

								<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
											<div class="panel-body">
												{{ data.views.context }}
											</div>
								</div>

						</div>

						{% endif %}


				</div>
		</div>
</div>


{% endblock %}
