{% extends "templates/layouts/default.html" %}

{% block intro %}
	<div class="container container-top">
		<h1> {{ data.layout.title }} layouts</h1>
	</div>
{% endblock %}


{% block content %}
  <div class="container">
    {% if data.selected.length %}
      <div class="row hero-panels">

      {% for layout in data.selected %}

        <div class="col-md-4">

					<a class="panel-link" href="/site/layout/{{ data.layout.key }}/view/{{ layout.key }}">
	          <div class="panel-brand panel-brand-white">
	            <div class="panel-body">

	              {% if layout.image.exists %}
	            		<img src="{{ layout._.image.thumbnail(326,205) }}" class="img">
	            	{% endif %}

								<h4>{{ layout.title }}</h4>

	            </div>
	          </div>
					</a>
        </div>

        {% if loop.index % 3 == 0 %}
          </div><div class="row hero-panels">
        {% elif loop.last %}
          </div>
        {% endif %}


      {% endfor %}

    {% else %}
      <h3 class="text-muted">There are no layouts for the site type yet.</h3>
    {% endif %}

  </div>
{% endblock %}
