{% extends "templates/layouts/default.html" %}



{% block intro %}

	 <div class="sidebar-left">
			<div class="col-md-12">
				<h3>Sidebar (fixed)</h3>
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#">Section</a></li>
					<li><a href="#">Section</a></li>
					<li><a href="#">Section</a></li>
					<li><a href="#">Section</a></li>
					<li><a href="#">Section</a></li>
					<li><a href="#">Section</a></li>
					<li><a href="#">Section</a></li>
					<li><a href="#">Section</a></li>
					<li><a href="#">Section</a></li>
					<li><a href="#">Section</a></li>
				</ul>
			</div>
	</div>


<div class="main">

	<div class="container">
		<h1> {{ data.views.title }} layout</h1>
	</div>

{% endblock %}


{% block content %}
  <div class="container">
    {% if data.views %}

      <div class="row hero-panels">

		        <div class="col-md-12">
		          <div class="panel panel-default">
		            <div class="panel-body">

		              {% if data.views.image.exists %}
		            		<img src="{{ data.views._.image.thumbnail(326,205) }}" class="img">
		            	{% endif %}

		              <h4>{{ data.views.title }}</h4>

		            </div>
		          </div>
		        </div>

    	</div>

    {% else %}
      <h3 class="text-muted">There is no layout available yet.</h3>
    {% endif %}

  </div>

</div>


<div class="sidebar-right">
		<div class="col-md-12">
			<h3>Sidebar (fixed)</h3>
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="#">Section</a></li>
				<li><a href="#">Section</a></li>
				<li><a href="#">Section</a></li>
				<li><a href="#">Section</a></li>
			</ul>
		</div>
</div>


{% endblock %}
