{% extends "templates/layouts/default.html" %}

{% block intro %}

	 <div class="sidebar-left">
			<div class="col-md-12">

			</div>
	</div>


<div class="main">

	<div class="container">
		<h1> {{ data.patterns.title }} pattern</h1>
	</div>

{% endblock %}


{% block content %}
  <div class="container">
    {% if data.patterns %}

      <div class="row hero-panels">

		        <div class="col-md-12">
		          <div class="panel panel-default">
		            <div class="panel-body">

		              {% if data.patterns.image.exists %}
		            		<img src="{{ data.patterns._.image.thumbnail(326,205) }}" class="img">
		            	{% endif %}

                  {% if data.patterns.code %}
                    {{ data.patterns.code }}
                  {% endif %}

		              <h4>{{ data.patterns.title }}</h4>

		            </div>
		          </div>
		        </div>

    	</div>

    {% else %}
      <h3 class="text-muted">There is no pattern available.</h3>
    {% endif %}

  </div>

</div>


<div class="sidebar-right">
		<div class="col-md-12">

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

				{% if data.patterns.description %}

					<div class="panel panel-default">

							<div class="panel-heading" role="tab" id="headingOne">
					      <h4 class="panel-title">
					        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					          Description
					        </a>
					      </h4>
					    </div>

							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							      <div class="panel-body">
											{{ data.patterns.description }}
										</div>
							</div>

					</div>

					{% endif %}


					{% if data.patterns.context %}

						<div class="panel panel-default">

								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
											Context of use
										</a>
									</h4>
								</div>

								<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
											<div class="panel-body">
												{{ data.patterns.context }}
											</div>
								</div>

						</div>

						{% endif %}


				</div>
		</div>
</div>


{% endblock %}
