{% extends "templates/layouts/default.html" %}

{% block intro %}

	 <div class="sidebar-left">
			<div class="col-md-12">

			</div>
	</div>


<div class="main">

	<div class="container container-sidebars">
		<h1> {{ data.patterns.title }} pattern</h1>
	</div>

{% endblock %}


{% block content %}
  <div class="container container-sidebars">
    {% if data.patterns %}

      <div id="code" class="row hero-panels">

		        <div class="col-md-12">
		          <div class="card-container pattern-container">
		            <div class="">


<div class="pattern">
    {% if data.patterns.code %}
      {{ data.patterns.code }}
    {% endif %}
</div>



									<div class="container-fluid">

												<div class="row pattern-row">

													<div class="action-container pull-left">
														<h4>{{ data.patterns.title }}</h4>
													</div>

													<div class="action-container pull-right">
														<div class="button-group btn-group">
														<form id="layout-form" action="/download" method="POST">
															<input id="layout-download" class="btn btn-rounded btn-dark btn-md" type="submit" value="Download pattern">
														</form>
														</div>
													</div>

												</div>
										</div>
									</div>



		            </div>
		          </div>
		        </div>

    	</div>

    {% else %}
      <h3 class="text-muted">There is no pattern available.</h3>
    {% endif %}

  </div>

</div>


<div class="sidebar-right">
		<div class="sidebar-body col-md-12">

			<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">


					<div class="card">

							<div class="card-header" role="tab" id="right-headingOne">
					      <h4 class="card-title">
					        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#right-collapseOne" aria-expanded="true" aria-controls="right-collapseOne">
					          Description
					        </a>
					      </h4>
					    </div>

							<div id="right-collapseOne" class="card-collapse collapse in" role="tabpanel" aria-labelledby="right-headingOne">
							      <div class="card-block">
											{% if data.patterns.description %}
													{{ data.patterns.description }}
											{% else %}
												<p class="card-text">No description added yet.</p>
											{% endif %}
										</div>
							</div>

					</div>

						<div class="card">

								<div class="card-header" role="tab" id="headingTwo">
									<h4 class="card-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#right-collapseTwo" aria-expanded="true" aria-controls="right-collapseTwo">
											Context of use
										</a>
									</h4>
								</div>

								<div id="right-collapseTwo" class="card-collapse collapse in" role="tabpanel" aria-labelledby="right-headingTwo">
											<div class="card-block">
												{% if data.patterns.context %}
													{{ data.patterns.context }}
												{% else %}
														<p class="card-text">No context of use added yet.</p>
												{% endif %}
											</div>
								</div>

						</div>



						{% if data.patterns.examples %}

							<div class="card">

									<div class="card-header" role="tab" id="right-headingTwo">
										<h4 class="card-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#right-collapseThree" aria-expanded="true" aria-controls="right-collapseThree">
												Examples of use
											</a>
										</h4>
									</div>

									<div id="right-collapseThree" class="card-collapse collapse in" role="tabpanel" aria-labelledby="right-headingThree">
												<div class="card-block">
													{{ data.patterns.examples }}
												</div>
									</div>

							</div>

							{% endif %}


				</div>
		</div>
</div>


{% endblock %}
