{% extends "templates/layouts/default.html" %}

{% block intro %}
	<div class="container container-top">
		<div class="row">
			<div class="col-sm-12">
				<h1>Site types</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a href="/">Back to Home</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
  <div class="container">
    {% if data.sites.length %}
      <div class="row hero-panels m-b-md">

      {% for site in data.sites %}

        <div class="col-md-4">

					<a class="card-container-link" href="/site/layout/{{ site.key }}">
	          <div class="card-brand card-brand-white card-default ">
	            <div class="card-block">

	              {% if site.image.exists %}
	            		<img src="{{ site._.image.thumbnail(326,205) }}" class="img img-responsive">
	            	{% endif %}

	                <h4>{{ site.title }}</h4>

	            </div>
	          </div>
					</a>
        </div>

        {% if loop.index % 3 == 0 %}
          </div><div class="row hero-panels m-b-md">
        {% elif loop.last %}
          </div>
        {% endif %}


      {% endfor %}


    {% else %}
      <h3 class="text-muted">There are no site types yet.</h3>
    {% endif %}

  </div>
{% endblock %}
