{% extends "templates/layouts/default.html" %}

{% block intro %}
	<div class="container container-top">
		<h1>Site types</h1>
	</div>
{% endblock %}

{% block content %}
  <div class="container">
    {% if data.sites.length %}
      <div class="row hero-panels">

      {% for site in data.sites %}

        <div class="col-md-4">

					<a class="panel-link" href="/site/layout/{{ site.key }}">
	          <div class="panel-brand panel-brand-white panel-default ">
	            <div class="panel-body">

	              {% if site.image.exists %}
	            		<img src="{{ site._.image.thumbnail(326,205) }}" class="img">
	            	{% endif %}

	                <h4>{{ site.title }}</h4>

	            </div>
	          </div>
					</a>
        </div>

        {% if loop.index % 3 == 0 %}
          </div><div class="row hero-panels">
        {% elif loop.last %}
          </div>
        {% endif %}


      {% endfor %}


    {% else %}
      <h3 class="text-muted">There are no site types yet.</h3>
    {% endif %}

  </div>
{% endblock %}
