#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

body{
	font-family: $font-family-sans-serif;
	padding-top: 51px;
}


#body, body, html{
	height: 100%;
}

.bg{
	background-color: $brand-dark-secondary;
}

//== Navbar
//

.navbar-custom {
	margin-bottom: 0px;
	border-bottom: 1px $brand-light-gray solid;
}



//== Typography
//

h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: $font-family-serif;
}


.pattern h1, .pattern h2, .pattern h3, .pattern h4, .pattern h5,.pattern h6, .pattern{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


//== Containers
//

.container-pattern-width {
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

.container-top{
	margin-top: 40px;
	margin-bottom: 30px;
}

.container-sidebars{
	margin-top: 20px;
	margin-bottom: 20px;
}

//== Hero
//

.front-page .hero-panels h2, .hero-panels h3 {
	margin-top: 0;
}

.front-page.container .jumbotron-custom{
	border-radius: 0;
	background-color: $brand-dark-secondary;
	padding-top: 30px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.front-page.container .jumbotron-custom  h1{
		color: $brand-white;
}


//== Jumbotron
//

.jumbotron-custom {
	text-align: center;

@media screen and (min-width: $screen-sm-min) {

		h1,
		.h1 {
			font-size: ($font-size-base * 2.6);
		}
	}

}

// Cards
.card-brand{
		font-weight: 300;
		margin-bottom: 10px;
		color: $brand-white;
		background-color: $brand-dark-secondary;
		font-size: 18px;
		box-shadow: 0px 6px 20px 2px rgba(46,46,46,0.2);
		border: none;
		border-radius: 0;
}

.card-brand.card-brand-white .card-block{
	padding: 0.938rem;
}

.card-brand-white{
	background-color: $brand-white;
	box-shadow: 0px 6px 20px 2px rgba(184,184,184,0.7);
}

.card-brand h4{
	color: $brand-dark-secondary;
	margin-top: 20px;
	margin-bottom: 10px;
}

.card-container-link:hover .card-brand-white, .card-container-link:hover {
	box-shadow: 0px 6px 30px 2px rgba(100,100,100,0.7);
	transition: box-shadow 0.2s linear;
}

.card-feature{
	color: $brand-white;
	font-weight: 300;
	color: $brand-dark-secondary;
	margin-bottom: 2px;

	background-repeat: no-repeat;
	background-position: center;
}
.card-feature .card-block{
	min-height: 372px;
	position: relative;
	padding: 0.25rem;
}

.card-blue{
	background-color: $brand-blue;
}
.card-light-blue{
	background-color: $brand-light-blue;
}

.card-teal{
	background-color: $brand-teal;
}

.card-green{
	background-color: $brand-green;
}

.card-site{
	background-image: url('/images/site_types.jpg');

}

.card-layout{
	background-image: url('/images/site_layouts.jpg');
}

.card-pattern{
	background-image: url('/images/site_patterns.jpg');
}

.card-download{
	background-image: url('/images/site_downloads.jpg');
}

.card-text{
	max-width: 180px;
	margin: auto;
}

.card-site-text{
	margin-top: 255px;
}

.card-layout-text{
	margin-top: 20px;
}

.card-pattern-text{
	margin-top: 255px;
}

.card-download-text{
	margin-top: 255px;
}

//== Pattern cards
//

.card-container {
	position: relative;
	cursor:move;
}

#code .card-container .col-md-6{
	background-color: $btn-dark-border;
	opacity: 0.97;
	padding: 6px 12px;
}
#code .card-container .col-md-6 a{
	color: $btn-primary-color;
	text-decoration: underline;
}

#code .card-container .col-md-6 a h4{
	margin-top: 0.6rem;
}

#code .card-container .col-md-6 .btn-default{
	background-color: $btn-dark-border;
}

#code .col-md-6 .btn-default{
	background-color: $btn-dark-border;
	border: 1px solid $brand-white;
}

#code .card-container:hover .arrows-container{
	opacity: 1;
}

//== Buttons
//

.btn-rounded{
	border-radius: $border-radius-rounded;
	padding-left: 25px;
	padding-right: 25px;
}

.btn-rounded:hover{
	color: $brand-white;
	background-color: $brand-dark-teal-hover;
	box-shadow: 0px 6px 10px 2px rgba(100,100,100,0.3);
	transition: all 0.2s linear;
}


.button-group{
	padding: 3px;
}

.btn-hero{
	margin-top: 30px;
	margin-bottom: 40px;
	background-color: $brand-dark-teal;
	border-color: $brand-dark-teal;
	color: $brand-white;
}

.btn-dark-green{
	background-color: $brand-dark-green;
	color: $brand-white;
}



//== Left sidebar
//

.main{
	height: 100%;
	overflow: auto;
	padding-top: 20px;
	margin-left: 241px;
  margin-right: 241px;
}

.sidebar-body{
	margin-bottom: 51px;
	padding: 0;
}

.sidebar-body .card{
	margin-bottom: 0;
	border-radius: 0;
	border-top: 0;
}
.sidebar-body .card-group .card + .card{
	margin-top: 0;
}

.sidebar-left{
	height: 100%;
	left: 0;
	top: 51px;
	position: fixed;
	width: 241px;
	background-color:#f5f5f5;
	z-index: 28;
	overflow-y: auto;
}

.sidebar-right{
	font-size: 0.875rem;

	position: fixed;
	width: 241px;
	height: 100%;
	right: 0;
	top: 51px;
	background-color:#f5f5f5;
	padding: 0;
	z-index: 14;
	backface-visibility: hidden;
	overflow-y: auto;
}

.sidebar-left .sidebar-thumbnail{
	border: 2px $btn-dark-border solid;
	margin-bottom: 15px;
}

.sidebar-body .card-title{
	margin-bottom: 0;
}

.sidebar-body .card-title a{
	color: $brand-dark-secondary;
}


.card-collapse{
	background-color: $brand-white;
}

// Thumbnail

.sidebar-thumbnail{
	margin-bottom: 20px;
	position: relative;
}

.sidebar-thumbnail img{
	width: 100%;
}


.sidebar-thumbnail-title .col-md-12{
	padding: 3px;
}

.sidebar-thumbnail-title a {
	color: $btn-primary-color;
	text-decoration: underline;
	margin: 0;
}

.sidebar-left .sidebar-thumbnail-title{
	padding: 7px;
	background-color: $btn-dark-border;
	color: $btn-primary-color;
	opacity: 0.97;
}

.sidebar-left .sidebar-thumbnail-title a h4{
	margin: 0;
	font-size: $font-size-base * 1.1;
}

.arrows-container{
	position: absolute;
	top: 0;
	right: 0;
	background-color: $btn-dark-border;
	padding: 6px 8px 6px 8px;
	color: $btn-primary-color;
}

#code .arrows-container{
	opacity: 0.1;
}

//
.pattern-width{
	width: 1140px;
}

//== Dragula
//

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
