#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

body{
	font-family: $font-family-sans-serif;
	padding-top: 51px;
}


#body, body, html{
	height: 100%;
}

//== Navbar
//

.navbar{
	margin-bottom: 0px;
}


//== Typography
//

h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: $font-family-serif;

  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
}

//== Containers
//

.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


//== Panel
//

.hero-panels h2, .hero-panels h3 {
	margin-top: 0;
}

#code .panel{
	background-color: transparent;
	border-radius: 0;
	border: 2px $btn-dark-border solid;
}

#code .panel .row{
	margin: 0;
}

#code .panel .col-md-6{
	background-color: $btn-dark-border;
	padding: 6px 12px;
}
//== Buttons
//

.btn-rounded{
	border-radius: $border-radius-rounded;
	padding-left: 25px;
	padding-right: 25px;
}

.btn-dark {
  @include button-variant($btn-dark-color, $btn-dark-bg, $btn-dark-border);
}


.button-group{
	padding: 3px;
}


//== Jumbotron
//

.jumbotron {
	text-align: center;
	ul{
		padding-top: $padding-base-vertical;
		padding-bottom: $padding-base-vertical;
	}
	ul li{
		list-style: none;
		font-size: $font-size-h3;
	}

@media screen and (min-width: $screen-sm-min) {

		h1,
		.h1 {
			font-size: ($font-size-base * 2.6);
		}
	}

}

//== Left sidebar
//

.main{
	height: 100%;
	overflow: auto;
	padding-top: 18px;
	margin-left: 241px;
  margin-right: 241px;
}

.sidebar-body{
	margin-bottom: 51px;
	padding: 0;
}

.sidebar-body .panel{
	margin-bottom: 0;
	border-radius: 0;
	border-top: 0;
}
.sidebar-body .panel-group .panel + .panel{
	margin-top: 0;
}

.sidebar-left{
	height: 100%;
	left: 0;
	top: 51px;
	position: fixed;
	width: 241px;
	background-color:#f5f5f5;
	z-index: 28;
	overflow-y: auto;
}

.sidebar-right{
	position: fixed;
	width: 241px;
	height: 100%;
	right: 0;
	top: 51px;
	background-color:#f5f5f5;
	padding: 0;
	z-index: 14;
	backface-visibility: hidden;
	overflow-y: auto;
}

.sidebar-thumbnail{
	border: 2px $btn-dark-border solid;
	margin-bottom: 15px;
}

.sidebar-thumbnail-title{
	padding: 7px;
	font-size: $font-size-base * 1.1;
	background-color: $btn-dark-border;
	color: $btn-primary-color;
}

//== Dragula
//

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
