#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}



//== Jumbotron
//

.jumbotron {
	text-align: center;

@media screen and (min-width: $screen-sm-min) {

		h1,
		.h1 {
			font-size: ($font-size-base * 2.6);
		}
	}

}
