// Override Bootstrap variables in this file, e.g.


//== Colors
//

$brand-dark:             #373839; //
$brand-dark-secondary:   #4A4A4A;
$brand-white:            #fff;
$brand-dark-teal:        #009688;

$brand-green:            #00C853;
$brand-teal:             #00BFA5;
$brand-light-blue:       #00B8D4;
$brand-blue:             #0091EA;



//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-size-base: 14px;

$font-family-sans-serif:  'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       'Bitter', Georgia, "Times New Roman", Times, serif;

$font-family-base:        $font-family-sans-serif;

//== New variables
//
$border-radius-rounded: 25px;



//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-dark-color:              #fff ;
$btn-dark-bg:                 $brand-dark;
$btn-dark-border:             darken($btn-dark-bg, 5%) ;


//== Custom containers
//## Needed for layouts to fit with the sidebars
$screen-xs:                      480px;
$screen-sm-min:                  1250px;
$screen-md-min:                  1474px;
$screen-lg-min:                  1682px;

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet ;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;
